<form action="bosman/addosoba/add" method="post">
  <div>
    <label>Imię</label><br>
    <input type="text" name="name" placeholder="Jan">
  </div>

  <div>
    <label>Nazwisko</label><br>
    <input type="text" name="surname" placeholder="Kowalski">
  </div>

  <div>
    <label>e-mail</label><br>
    <input type="text" name="e-mail" placeholder="jan.kowalski@pw.edu.pl">
  </div>

  <div>
    <label>Telefon</label><br>
    <input type="text" name="phoneNumber" placeholder="123456789">
  </div>

  <div class="mt-4">
    <input type="submit">
  </div>
</form>