<!DOCTYPE html>
<html>
  <head>
    <title>Wimpel baza danych</title>
    <style>
      h1{
        font-size: 40px;
        font-family: Robotoo;
        text-align: center;
      }
      h2{
        font-weight: normal;
        text-align: center;
      }
      h3{
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Baza danych sprzętu Wimpla</h1>
    <h2>Kim jesteś?</h2>
    <h3>
      <button>członek</button>
      <button>bosman</button>
      <button>admin</button>
    </h3>
    
  </body>
</html>